* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Georgia, serif; */
}
body {
    background-color: #ffa500;
    
}

.container {
    display: flex;
    width: 70vw;
    height: 50vh;
    margin-left: 30px;
    background-color: white;
    position: absolute;
    top: 25vh;
    left: 13vw;
}

.quote {
    font-size: 30px;
    position: absolute;
    top: 10vh;
    left: 5vw;
    margin-right: 30px;

}


button {
    color: white;
    background-color: #ffa500;
    font-size: 20px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 15px;
    width: 150px;
    margin-right: 40px;
    border: none;
    font-family: Georgia, serif;
  
    

}
.social {
    position: absolute;
    bottom:50px;
    margin-left: 50px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
    
    
    


  }

  .fa-tumblr {
      background-color: #ffa500;
      color: white;
      
  }

.fa-twitter {
    background-color: #ffa500;
    color: white;
}


blockquote {
    font-family: Georgia, serif;
    color: #ffa500;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}


blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}


blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}

blockquote cite:before {
    content: "\2013";
}