*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: aquamarine;
  color: azure;
}

#app{
  width: 450px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: coral;
  padding: 30px ;
  border-radius: 10px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

hr{
  border: 1px solid white;
}

form{
  margin-top: 20px;

  }

label{
  font-size: 1.2em;
  margin: 10px 0;
}

input[type=number], select {
  width: 100%;
  padding: 5px 20px;
  margin: 8px auto;
  font-size: 1em;
  text-align: center;
  text-align-last: center;
}

label:first-child::after{
  content: '$';
  color: black;
  position: absolute;
  top: 165px;
  left: 50px;
  font-size: 1.4em;
}

span, label, button, select, input{
  display: block;
}

button{
  margin:50px 10px 0 0;
  width: 100px;
  height: 50px;
  font-size: 1em;
  background-color: white;
  border: none;
  color: coral;
  border-radius: 5px;
  float:right;
  cursor: pointer;

}

.amount{
  background-color: tomato;
  border: 1px solid white;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  float: left;
  box-shadow: 0px 0px 50px;
}

span{
  font-size: 1.2em;
  position: relative;
}

#amount::before{
  content: '$';
  position: absolute;
  top: 0px;
  left: 50px;
}

#amount {
  font-size: 1.5em;
}

.clearfix{
  clear: both;
}

.modal{
  background-color: rgb(0, 0,0,0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px;
}
.modal-box{
  background-color: orangered;
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  font-size: 1.5em;
}

.modal button{
  width: 50px;
  height: 25px;
  font-size: 0.5em;
  margin: 10px;
  float: none;
  margin:10px auto;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  #app{
    width: 300px;
    padding: 10px ;
  }

  h1{
    font-size: 2em;
  }

  label:first-child::after{
    top: 133px;
    left: 20px;
  }
  .amount{
    margin: 10px auto;
    padding: 10px;
  }

  .amount h2{
    font-size: 1.05em;
  }
  
  button{
    margin:50px 0 0 0;
    width: 100px;
    height: 40px;
    font-size: 0.9em;
  }

  #amount::before{
    left: 20px;
  }

  .modal-box{
    width: 80%;
  }
}